html, body {
	font-family: Arial, Tahoma, Verdana;
	font-size: 13px;
	min-width: 1024px;
	max-width: 1024px;
	margin: 0 auto;
	padding:0; 
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	background-color: #ccc;

}

a {
	text-decoration: none;
	color:black;
}
#wrapper {
	background-color: white;
	overflow: hidden;
}
.header_menu_item {
	display: inline-block;
	/*margin: 0 2px;*/
	color: white;
	float: right;
	/*margin-top: 10px;*/
	font-size: 16px;
	padding: 10px 40px 10px 0;
}
#logo {
	clear: right;
	background-image: url(/include/images/nice_logo.png);
	width: 485px;
	height: 190px;
	display: inline-block;
}


#header {
	background-color: #FF6600;
	position: relative;
	height: 190px;
	color:white;
	font-size: 16px;
	margin-bottom: 10px;
}


#header_commercial {
	width: 400px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	margin-left:60px;
	display: inline-block;
	vertical-align: top;
	background-image: url('/include/images/header_commercial.png');
	color: red;
	font-size: 20px;
	font-weight: bold;
	background-repeat: no-repeat;

}

#header_info {
	float: right;

}
#header_right {
	display: inline-block;
	vertical-align: top;
	width: 281px;
}

#header_contacts {
	display: inline-block;
	vertical-align: top;
}
[class*="icon_"] {
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("/include/images/nice_icons.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
}

#soc_icons {
	width: 185px;
	overflow: hidden;
	margin:0 auto;
}
[class*="icon_header"] {
	float: left;
	margin: 6px;
}
.icon_header_vk {
	width: 48px;
	height: 48px;
	background-position: 0px 0px;
}
.icon_header_tweet {
	width: 48px;
	height: 48px;
	background-position: -64px 0px;
}
.icon_header_fb {
	width: 48px;
	height: 48px;
	background-position: -128px 0px;
}
.icon_header_odn {
	width: 48px;
	height: 48px;
	background-position: 0px -61px;
}
.icon_header_lj {
	width: 48px;
	height: 48px;
	background-position: -64px -61px;
}
.icon_header_yt {
	width: 48px;
	height: 48px;
	background-position: -128px -61px;
}
.icon_skype_header {
	width: 25px;
	height: 25px;
	background-position: 0px -120px;		
}

.icon_footer_vk {
	width: 19px;
	height: 19px;
	background-position: 0px -404px;
}
.icon_footer_jj {
	width: 19px;
	height: 19px;
	background-position: -26px -404px;
}
.icon_footer_fb {
	width: 19px;
	height: 19px;
	background-position: -52px -404px;
}
.icon_footer_odn {
	width: 19px;
	height: 19px;
	background-position: -78px -404px;
}
.icon_footer_tweet {
	width: 19px;
	height: 19px;
	background-position: -104px -404px;
}
.icon_footer_yt {
	width: 19px;
	height: 19px;
	background-position: -130px -404px;
}
#header_center {
	display: inline-block;
	vertical-align: top;
	margin-left: 22px;
	width: 227px;
	
}
#phone_header {
	display: inline-block;
	vertical-align: middle;
	margin-top:4px;
	/*line-height: 30px;*/

}

#connect_block {
	padding: 6px 35px;
	/*width: 153px;*/
	/*margin: 8px auto 0 auto;*/
}
#header_email {
	font-size: 16px;
}

#welcome_msg {
	text-align: center;
	/*margin-top: 10px;*/
	clear:both;
}

.active {
	color:#FF6701;
}

#basket_href {
	margin-top: 90px;
	text-align: center;
}

#basket_href a {
	color: white;
}
#shop_menu_title {
	display: inline-block;
	color: white;
	font-size: 16px;

}

#search {
	/*clear: both;*/
	/*margin:10px 0; */
	/*background-color:#FF6701;*/
/*	padding:3px 0;
	height: 180px;
	width: 482px;*/

}

#search_str {
	display: inline-block;
	margin-top: 115px;
	float:right;
	margin-right: 3px;
	height: 24px;
	
}

#basket {
	/*float: right;*/
	/*line-height: 25px;*/
	background-image: url(/include/images/nice_icons.png);
	background-position: 0px -156px;
	background-repeat:no-repeat;
	width: 227px;
	height: 141px;
	/*margin-top:4px;*/
	display: inline-block; 
	

}

#header_right_top {
	/*margin-top: 1px;*/
	overflow: hidden;
}

#header_content {
	margin: 10px 0;
	clear: right;
	padding: 0 10px;
}

#search_field {
	border: 1px solid #FFC3A5;
	width: 392px;
}

#search_btn {
	border: 1px solid #FFC3A5;
	background-color: #FFA771;
}

#header_right_top .header_menu_item {
	/*padding: 10px 20px;*/
	/*float: none;*/
}

#categories {
	width: 160px;
	float: left;
	margin-right: 10px;
}

.ctg_item {
	background-color: #FF6600;
	border-left: 2px solid  #FD8E45;
	border-top: 2px solid  #FD8E45;
	border-right:2px solid #D35A0B;
	border-bottom:2px solid #D35A0B;
	color:white;
	padding: 6px 10px;
	font-size: 15px;
	cursor: pointer;
	margin: 1px;
	width: 135px;
	height: 18px;
}

.ctg_item:hover {
	background-color: #EB5E00;
	
}

.ctg_item:active {
	background-color: #EB5E00;
	border-left: 2px solid  #D35A0B;
	border-top: 2px solid  #D35A0B;
	border-right:2px solid #FD8E45;
	border-bottom:2px solid #FD8E45;
	padding: 6px 8px;
		width: 138px;
	height: 18px;
}

.banner {
	background-color: #E6E6E6;
	margin-top:10px;
	margin-bottom:10px;
	padding: 10px;
	font-size: 24px;
		text-align: center;	
		color: #333;
		letter-spacing: 1px;
		clear: both;
}

#leftbar {
	background-color: #F7F7F8;
	margin: 0 auto;
	padding: 20px;
	color: #FF6701;
	font-size: 18px;
	height: 470px;

}

.books {
	margin-top: 10px;
	margin-bottom: 30px;
	/*height: 270px;*/
	width: 485px;
	display: inline-block;
}

.books img {
	display: block;
	margin: 0 auto;
	width: 150px;
}

.book_info {
	font-size: 14px;
	color: black;
	width: 420px;
	margin: 0 auto;
	line-height: 1.5;

}
.book_save {
	background-image: url(/include/images/nice_icons.png);
	background-position: 0px -314px;
	width: 115px;
	height: 27px;
	color: white;
	text-align: center;
	margin: 20px auto;
	width: 115px;
	line-height: 27px;
	font-size: 15px;
}
.book_save:hover {
}
#rightbar {
	float: right;
	width: 236px;

}

#vk_block {
	width: 235px;
	overflow: hidden;
	margin-bottom:30px; 
}
#fb_block {
	width: 235px;
	margin-bottom:10px; 
	overflow: hidden;
}

#news {
	margin: 10px 0;
}
#news_content {
	margin: 10px auto;
	padding: 10px;
}
.reviewer {
	width: 176px;
	height:290px;
	float: left;
	margin: 10px 10px;
}

.reviewer img {
	width: 176px;
	height: 250px;
}

.rev_name {
	/*font-size: 13px;*/
	font-weight: bold;
	text-align: center;
}

.rev_text {
	 white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; 
    padding: 5px;
}

#news_content_title {
	font-size: 24px;
	color: #FF6701;
	font-weight: bold;
}


#content {
	/*display: table;*/
	margin: 10px auto;
	padding: 20px;
}
#products_area {
	margin: 10px;
}
.product_wrapper {
	float: left;
	margin: 10px;
	width: 140px;

}

.pr_img img{
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto;
}
.pr_name {
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	/*height: 80px;*/

	white-space: nowrap; /* Запрещаем перенос строк */
    overflow: hidden; /* Обрезаем все, что не помещается в область */
    text-overflow: ellipsis; 
    padding: 5px;

}

.pr_type {
	text-align: center;
	color: #A1A1A1;
}

.price {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	color: #FF6701;
	/*font-family: 'PT Sans', serif;*/
}

.buy_button {
	width: 70px;
	height: 20px;
	line-height: 20px;
	background-color: #FF8409;
	border:1px solid #FF6701;
	border-radius: 5px;
	margin: 5px auto;
	text-align: center;
	color: white;
	cursor: pointer;
}

#content_title {
	font-weight: bold;
	font-size: 20px;
	color: #FF6701;
	margin-left: 30px;
}

#minimap {
	background-color:#E7E7E7;
	padding: 50px;
	height: 150px;

}
#mm_wrap {
	margin-left:80px;
}
.minimap_block {
	display: inline-block;
	vertical-align: top;
	margin: 0 30px;
	font-size: 16px;
	height: 120px;
	width: 140px;
	line-height: 1.5;
	position: relative;
}

.mm_border {
	position: absolute;
	/*float: right;*/
	top: 20px;
	right: 0;
	height: 90px;
	border-right: 2px solid #A6A6A6;
}
.minimap_block a {
	text-decoration: none;
	color: #543054;

}



#footer_menu {
	margin-left: 180px;
	color: #543054;
	font-size: 11px;
}

.footer_menu_item {
	display: inline-block;
	margin-right: 5px; 
}



#cart {
	width:98%;
	
}

#menu {
	/*height:315px;*/
	overflow: hidden;
}

#view_product {
	width: 620px;
	float: left;
}

#prod_info_wrapper {
	margin: 20px;
}
#prod_name {
	font-size: 20px;
	font-weight: bold;
	color: #663333;
	margin-bottom: 10px;
}
#prod_img {
	display: inline-block;
}
#prod_img img{
	width: 250px;
}

#prod_info {
	display: inline-block;
	vertical-align: top;
	margin-left: 22px;
}

#prod_underline {
	height: 26px;
	background-color: #FF6600;
}

#prod_review {
	background-color: #FF8409;
	display: inline-block;
	/*margin-left: 250px;*/
	color: white;
	line-height: 20px;
	padding:0 10px;
	margin-top: 3px;
	float: right;
	margin-right: 10px;
	font-weight: bold;
	cursor: pointer;
}

#producer_review {
	border:3px solid #FFC8A3;
	margin:10px 0;
	padding: 8px;
}
#prod_info table {
	margin: 10px 0;
}
#prod_info table td{
	padding-right: 10px;
}

#prod_character {
	margin-top:20px; 
}

.font16 {
	font-size: 16px;
}

#prod_price {
	font-size: 20px;
	color: #FF8409;
}

.font16color {
	font-size: 16px;
	color: #FF8409;
}

#admin_header {
	height: 100px;
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	line-height: 100px;
	border-bottom: 1px solid #ccc;
	background-color: #F7F7F7;
}

#admin_bar {
	width: 200px;
	background-color: #F7F7F7;
	padding: 5px 0;
}
.admin_bar_menu_title {
	background-color: black;
	color: white;
	margin: 5px 10px;
	font-size: 14px;
	text-align: center;
	font-weight: bold;
	height: 30px;
	line-height: 30px;
}
.admin_bar_menu_items_wrap {
	border:1px solid #ccc;
	margin: 5px 10px;
	border-bottom: none;
	
	font-size: 15px;
	font-weight: bold;
}

.admin_bar_menu_items_wrap div{
	border-bottom: 1px solid #ccc;
	height: 30px;
	line-height: 30px;
	padding-left: 5px;
	cursor: pointer;
}

#another_interesting_prods {
	float: right;
	overflow: auto;
	width: 210px;
	/*margin-bottom: 0px;*/
	border-left:1px solid #FFC8A3;
}

#another_interesting_prods .product_wrapper {
	/*float: left;*/
	float: none;
	margin: 10px auto;
	width: 147px;

}

#cart_total_items{
	font-weight: bold;
	/*color: white;*/
}

.block_title {
	font-size: 30px;
	font-weight: bold;
	color:#4D4D4D;
}

.block_title a {
	color:#4D4D4D;
}

#soc_likes {
	height: 60px;
	background-color: #FF6600;
}

.soc_plug {
	display: inline-block;
	margin: 10px 5px;
}
#social_plugins {
	/*width: 980px;*/
	/*margin: 0 auto*/
	background-color: #F7F7F8;
	padding: 20px;
	
}

#counter_wrap {
	height: 290px;
	background-color: #FF6600;
	padding-top: 60px;
}

#counter_title {
	font-size: 60px;
	color: white;
	text-align: center;
	font-weight: bold;

}

#counter {
	width: 300px;
	height: 100px;
	background-color: #F58634;
	margin: 20px auto;
	font-size: 60px;
	text-align:  center;
	line-height: 100px;
}

#copyright {
	position: absolute;
	bottom: 0;
	left: 50px;

}

#footer_logo {
	background-image: url(/include/images/mynicedecor_logo.png);
	background-repeat: no-repeat;
	background-position: center top;
	/*padding: 10px 0;*/
}

#develop {
	background-image: url(/include/images/sellingsites.png);
	width: 136px;
	height: 19px;
	position: absolute;
	bottom: 0;
}

#footer_socials {
	position: absolute;
	bottom: 0;
}

.footer_block {
	width: 310px;
	height: 140px;
	display: inline-block;
	vertical-align: top;	
	margin:5px;
	position: relative;
}
#footer_contact {
	display: inline-block;
	vertical-align: bottom;
	margin-left: 20px;
}

#footer_icon_wrap {
	display: inline-block;
	margin-left: 20px;
	/*float: right;*/
	/*position: absolute;
	right: 10px;*/
}

#footer {
	background-color: #FF6600;
	padding:10px  28px;
	height:140px;
	color: white;
}

#log_in {
	cursor: pointer;
	/*width: 40px;*/
}

#products_area {
	/*height:230px;*/
	overflow: hidden;
}

#products_view {
	display: block;
	margin: 10px;
	min-height: 200px;
	overflow: hidden;

}

#logo_home {
	width: 460px;
	height: 80px;
	position: absolute;
	top:68px;
	left:20px;
	cursor: pointer;
}

#prodByCategory {
	overflow:hidden;
	min-height: 220px;
}

/*#prod_select_field {
	margin: 20px 30px;
}*/

.property_parent {
	display: inline-block;
	margin: 10px;
}

.product_wrapper .pr_img {
	cursor: pointer;
}

.product_wrapper .pr_name {
	cursor: pointer;
}
.product_wrapper .pr_name:hover {
	text-decoration: underline;

}

.soc_like_item {
	width: 100px;
	margin: 15px 90px;
	display: inline-block;
}

.hidden {
	display: none;
	visibility: hidden;
}

#cart_view {
	display: inline-block;
	width: 820px;
	margin: 0 10px;
	color: #2B2A29;
}

#cart_view tr th {
	border-top:2px solid #9D9F9F;
	border-bottom:2px solid #9D9F9F;
	text-align: left;

}

#cart_view table {
	border-collapse: collapse;
}

#cart_view tr td:not(.last_tr) {
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
	text-align: left;

}
.update_cart_submit {
	width: 130px;
	margin:15px 17px;
	display: inline-block; 
}
.update_cart_submit input{
	background-image: url(/include/images/nice_icons.png);
	background-position: 0px -440px;
	/*background-size: 100%;*/
	width: 130px;
	height: 27px;
	color: white;
	text-align: center;
	margin: 0 auto;
	/*width: 130px;*/
	line-height: 25px;
	/*font-size: 13px;*/
	font-weight: bold;
	border:none;
	cursor: pointer;
}

.destroy_cart_submit {
	background-image: url(/include/images/nice_icons.png);
	background-position: 0px -440px;
	width: 130px;
	height: 27px;
	text-align: center;
	margin: 0 auto;
	line-height: 27px;
	font-size: 13px;
	font-weight: bold;
	border:none;
	cursor: pointer;
	/*float: right;*/
	margin:15px 17px;
	display: inline-block; 
	
}
	
.destroy_cart_submit a{
	color: white;
	display: inline-block;
}

.b-share-btn__wrap {
	margin: 10px 30px;
	/*display: block;*/
}
.b-share-icon {
	margin: 0 auto;
}

#soc_likes_items {
	width: auto;
	margin: 0 auto;
}

#order_submit {
	background-image: url(/include/images/nice_icons.png);
	background-position: 0px -440px;
	width: 130px;
	height: 27px;
	text-align: center;
	margin: 0 auto;
	line-height: 27px;
	font-size: 13px;
	font-weight: bold;
	border:none;
	cursor: pointer;
	/*float: right;*/
	margin:15px 17px;
	display: inline-block; 	
	color: white;
}

#order_form {
	overflow: hidden;
}
.loginform {
	margin: 20px 10px;
}
.loginform_item p{
	width: 100px;
	display: inline-block;
}

.loginform_item input[type='text'], .loginform_item input[type='password'] {
	width: 200px;
	height: 18px;
	/*background-color: white;*/
	/*border:none;*/
	margin: 0; 
}

.loginform_item input[type='submit'] {
	background-image: url(/include/images/nice_icons.png);
	background-position: 0px -440px;
	width: 130px;
	height: 27px;
	/*text-align: center;*/
	/*margin: 0 auto;*/
	/*line-height: 27px;*/
	/*font-size: 13px;*/
	font-weight: bold;
	border:none;
	/*cursor: pointer;*/
	/*float: right;*/
	/*margin:15px 17px;*/
	/*display: inline-block; 	*/
	color: white;
}

.helper {
	width: 100%;
	height: 0;
	visibility: hidden;
}

#leftbar ul {
	text-align: justify;
	padding-left: 0;
	height: 400px;
}

#leftbar ul li {
	display: inline-block;
	text-align: left;

}

/*.yashare-auto-init,.b-share_theme_counter {
	width: 500px;
}

*/

.b-share {
	display: block;
	margin-top:7px;

}